body {
    background-color: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: 'Kaushan Script', cursive;

}

h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: 'Kaushan Script', cursive;

}

h3 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bolder
}

footer {
    color: black;
    font-size: 20px;
    text-align: center;
}

.social-media-icon {
    display: inline-block;
    list-style: none;
    padding: 5px;
}

i {
    font-size: 30px;
    text-align: center;
}

i:hover {
    color: purple;
    transition: .7s;
    transform: rotate(360deg);
}

.container {
    text-align: center;
    letter-spacing: 0;

}

.button {
    color: white;
    font-weight: lighter;
    

}

.button:hover {
    color: white;
    font-weight: lighter;
    letter-spacing: 4px;
    transition: all 280ms ease-in-out;
    border-top: white solid 2px;
    border-bottom: white solid 1px;
    width: 0;
    backface-visibility: hidden;
    content: " ";
    margin: 0 auto;
    position: relative;
    bottom: 0px;

}

.carousel-control-prev-icon {
    color: red !important;
}

.carousel-control-next-icon {
    color: red !important;
}

ul {
    text-align: center;
}

#bodyBackground {
    background-image: linear-gradient(black, grey);
}

#interests {
    border-bottom: white solid 2px;
}

#aboutParagraph {
    text-align: justify;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: red;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color: black;
    padding: 0;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 70%;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
  }